.school-container {
  margin-bottom: 5px;
}
h3 {
  display: flex;
  margin: 0;
}
p {
  margin: 0;
}

input[name="education-title"],
span.education-title {
  flex: 2;
  text-align: left;
}

input[name="education-year"] {
  text-align: right;
}

.education-school-container {
  display: flex;
}

input[name="education-school"] {
  flex: 1;
  text-align: left;
}
