.experience-container {
  margin-bottom: 5px;
}

h3,
h4 {
  margin: 0;
}

h4 {
  font-style: italic;
}

h3 {
  display: flex;
}

input[name="experience-position"],
span.experience-position {
  flex: 2;
  text-align: left;
}

input[name="experience-date"],
span.experience-date {
  text-align: right;
}
